/*clear up code*/

*{
    background-color: #252526;
    color:#f0ffff;
    font-family: 'Fredoka', sans-serif;
}

body{
    position: relative;
    /*margin: 40px 50px;*/
    max-width: 700px;
    line-height: 1.4;
    margin: auto;

}

h1, h2, h3{
    line-height: 1.2;
}

a{
    color: #5a8ad6;
}

.T1{
    font-size: 50px;
    position: relative;
    text-align: center;
}

.white{
    color: #f0ffff
}

.nobreak{
    display:inline
}